@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
body 
{
    font-family: 'Roboto', sans-serif;
}
.logo img
{
    width: 40px;
    height: 40px;
}
.nav-bar
{
    display: flex;
    justify-content: space-between;
}
.nav ul
{
    display: flex;
}
.nav-item
{
    display: flex;
    justify-content:space-evenly;
    padding:0 30px;
}
.nav ul a
{
    text-decoration: none;
    color: black;
}
.nav ul a:hover
{
    color: gray;
}
.section
{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.img
{
    width: 450px;
    height: 450px;
    padding-right: 150px;
}
.content
{
    padding-left: 150px;
    padding-top: 2rem;
}
.hi
{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
.name
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
}

.typewriter 
{
    overflow: hidden;
    border-right: .15em solid rgb(243, 1, 33);
    white-space: nowrap;
    letter-spacing: .15em;
    animation-delay: 2s !important;
    animation:
        typing 3.5s steps(30, end) forwards,
        blink-caret .5s step-end infinite;
    width: min-content;
    opacity: 0;
    font-family: 'Press Start 2P', system-ui;
    font-size: 20px;

}
@keyframes typing 
{
    from 
    {
        width: 0
    }

    to 
    {
        width: 100%;
        opacity: 1;
    }

    1% 
    {
        opacity: 1;
    }
}

@keyframes blink-caret 
{

    from,
    to 
    {
        border-color: transparent
    }

    50% 
    {
        border-color:rgb(243, 1, 33)
    }
}

.link
{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    padding: 5px;
}
.icon img{
    width: 30px;

}